@model List<Client>
@{
    ViewData["Title"] = "Client's";
}

<h2>All Client from database</h2>
<hr/>
<form asp-action="Index" asp-controller="Client" method="GET">
    <div class="input-group">
        <input type="text" name="ClientAddress" id="search" class="form-control" autocomplete="off"/>
        <div class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Search"/>
        </div>
    </div>
</form>
@if (Model.Count <= 0)
{
    <h3 class="text-center">No data available !!</h3>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Address</td>
            <td>ClientDate</td>
            <td>Product</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        @foreach (var client in Model)
        {
            <tr>
                <td>@client.Id</td>
                <td>@client.ClientName</td>
                <td>@client.Address</td>
                <td>@client.ClientDate</td>
                <td>@client.Product</td>
                <td class="btn-group">
                    <a asp-action="Update" asp-route-id="@client.Id" class="btn btn-sm btn-info">
                        <span class="fa fa-pencil"></span>Update
                    </a>
                    <a asp-action="Delete" asp-route-id="@client.Id" class="btn btn-danger btn-sm">
                        <span class="fa fa-trash"></span> Delete
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}